body {
    background: #e9ecef;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #682773;
}

.profile-button:focus {
    background: #682773;
    box-shadow: none;
}

.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.back:hover {
    color: #682773;
    cursor: pointer;
}

.labels {
    font-size: 16px;
}

.card {
    width: 40rem;
    margin: auto auto 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#profile_img_area{
    align-items: center;
    text-align: center;
}

.profile_name_text{
    font-size: 35px;
}

.profile_job_position_text{
    font-size: 25px;
}

.a_icon_text {
    font-size: 18px;
    align-self: center;
}

#profile_bio_box{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 10px auto 15px auto;
}

.profile_bio_text{
    font-size: 15px;
}

.index-h1-area{
    background-image: url("../img/PHP-images.jpg");
    height: 75vh;
    /* add a background image */
    background-size: cover;
    background-position: center;
}

.index-image-area{
    background-image: url("../img/PHP-images.jpg");
    height: 75vh;
    /* add a background image */
    background-size: cover;
    background-position: center;
}

.index-h1{
    margin: 5px 0px;
    padding: 15px;
    background-color: blueviolet;
    color: white;
    font-size: 3em;
    text-align: center;
}

.index-h2-area{
    padding: 15px;
}

.index-h2-area h2{
    text-align: center;
}

.profile-page-toolbar{
    text-align: center;
    margin: 10px;
}

.badge-info{
    color: #fff;
    background-color: #17a2b8;
}

.buttons > button  a {
    color: white;
}